$breakpoints: (
  s: 480px,
  m: 768px,
  l: 1024px,
  x: 1200px,
);

@mixin from($bp) {
  @if (map-has-key($breakpoints, $bp)) {
    @media screen and (min-width: map-get($breakpoints, $bp)) {
      @content;
    }
  } @else {
    @media screen and (min-width: $bp) {
      @content;
    }
  }
}

@mixin devMode($color) {
  border: 1px solid $color;
}

:root {
  --text-color: hsl(249, 20%, 18%);
  --text-color-ligth: rgba(185, 189, 207, 1);
  --bg-blue: rgba(30, 134, 255, 1);
  --bg-color: #f6f7fb;
  --just-white: #fff;
}
html {
  max-inline-size: 100%;
}
body {
  // min-inline-size: 100vw;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}
img {
  max-inline-size: 100%;
}
form input {
  padding: 0;
  border: none;
}
header {
  box-sizing: border-box;
}
.wrapper {
  max-inline-size: 1200px;
  margin: auto;
}

.main-content {
  padding-inline: 10px;
  @include from(l) {
    display: flex;
    justify-content: space-between;
  }
}

/* Buttons */
.btn {
  inline-size: 104px;
  block-size: 47px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  &:active {
    transform: scale(0.98);
  }
}
.btn--primary {
  background-color: var(--bg-blue);
  color: var(--just-white);
}
/* Butttons end*/

/* Header Styles */
.main-title {
  margin-block-start: 12px;
  margin-block-end: 32px;
  margin-inline: 12px;
  font-size: 24px;
  span {
    margin-inline-start: 10px;
    font-weight: lighter;
  }
  @include from(m) {
    margin-block-start: 32px;
  }
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 128px;
  margin-inline: 12px;
  margin-block-end: 29px;
  background: url(../img/hero-image.png) center/cover no-repeat;
  border-radius: 8px;
}

/* Form into Hero*/
form svg {
  inline-size: 20px;
  block-size: 20px;
  fill: var(--text-color-ligth);
}
.form-search {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 100%;
  block-size: 55px;
  margin-inline: 18px;
  background-color: var(--just-white);
  border-radius: 4px;
  @include from(m) {
    inline-size: 50%;
  }
  @include from(l) {
    inline-size: 60%;
  }
}
.search-field {
  inline-size: 140px;
  block-size: 35px;
  margin-inline-end: 27px;
  margin-inline-start: 9.5px;
  font-size: 16px;
  @include from(m) {
    inline-size: 200px;
  }
  @include from(l) {
    inline-size: 70%;
  }
  @include from(x) {
    inline-size: 75%;
  }
}

/* End Header Styels*/

.search-country {
  @include from(l) {
    inline-size: 300px;
    position: sticky;
    inset-block-start: 0;
  }
  &__title {
    color: var(--text-color-ligth);
  }
  &__form {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    block-size: 48px;
    margin-block-start: 14px;
    margin-block-end: 23px;
    background-color: var(--just-white);
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  }
  &__field {
    inline-size: 100%;
    block-size: 48px;
    border: none;
    margin-inline-start: 16px;
  }
  svg {
    inline-size: 20px;
    block-size: 20px;
    margin-inline-start: 14px;
    fill: var(--text-color-ligth);
  }
}
.form-control {
  margin-block-end: 15px;
}

/* Cards  */
.jobs {
  @include from(l) {
    inline-size: 800px;
  }
}
.card-job {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 50px;
  margin-block: 23px;
  block-size: 144px;
  background-color: var(--just-white);
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  @include from(l) {
    grid-template-columns: 150px 1fr 1fr;
  }
  &__image {
    grid-row: 1 / span 2;
    justify-self: center;
    margin-block-start: 12px;
  }
  &__image img {
    inline-size: 90px;
    block-size: 90px;
  }
  &__data {
    grid-column: 2 / span 2;
  }
  &__data p {
    margin: 0;
    padding-block-start: 12px;
    font-weight: 700;
  }
  &__data h3 {
    margin-block-start: 4px;
    margin-block-end: 8px;
    font-size: 16px;
    font-weight: 400;
  }
}
.data-footer {
  align-self: center;
  box-sizing: border-box;
  block-size: 30px;
  display: flex;
  align-items: center;
  grid-column: 2 / span 2;
  color: var(--text-color-ligth);
  font-size: 12px;
  @include from(l) {
    justify-content: flex-end;
  }
  .time svg,
  .city svg {
    inline-size: 15px;
    block-size: 15px;
    margin-inline-end: 7px;
    fill: var(--text-color-ligth);
  }
  .time {
    margin-inline-start: 28.5px;
  }
  .time,
  .city {
    display: flex;
    align-items: center;
  }
}

/* Cards end*/
